<?xml version="1.0" encoding="utf-8"?>
<manifest
xmlns:android="http://schemas.android.com/apk/res/android"
package="com.chess.genesis"
android:versionCode="39"
android:versionName="@string/version">
	<uses-sdk android:minSdkVersion="7"/>
	<supports-screens android:smallScreens="false"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<application
	android:label="@string/app_name"
	android:icon="@drawable/icon"
	android:theme="@style/DefaultTheme">
		<activity
		android:name="MainMenu"
		android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name="GameList" android:windowSoftInputMode="adjustPan" android:launchMode="singleTask"/>
		<activity android:name="OnlineGameList" android:configChanges="orientation" android:windowSoftInputMode="adjustPan" android:launchMode="singleTask"/>
		<activity android:name="Login" android:windowSoftInputMode="adjustPan" android:launchMode="singleTask"/>
		<activity android:name="Register" android:windowSoftInputMode="adjustPan" android:launchMode="singleTask"/>
		<activity android:name="SubmitMove" android:theme="@style/NoDimDialog"/>
		<activity android:name="Settings" android:launchMode="singleTask"/>
		<activity android:name="UserStats"/>
		<activity android:name="RegGame"/>
		<activity android:name="GenGame"/>
		<activity android:name="MsgBox"/>

		<service android:name="GenesisNotifier" android:enabled="true"/>
		<receiver android:name="GenesisAlarm">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<category android:name="android.intent.category.HOME"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REPLACED"/>
				<data android:scheme="package" android:path="com.chess.genesis"/>
			</intent-filter>
		</receiver>
	</application>
</manifest> 
